<template>
    <el-row>

        <el-form :inline="true" :model="album" class="demo-form-inline">
            <el-col :span="20">
                <el-form-item>
                    <el-input v-model="album.title" placeholder="Some title"/>
                </el-form-item>
            </el-col>

            <el-col :span="4">
                <el-form-item>
                    <el-button type="success" @click="onSubmit">Add album</el-button>
                </el-form-item>
            </el-col>
        </el-form>
    </el-row>
</template>

<script>
    export default {
        data() {
            return {
                album: {
                    title: ''
                },
            }
        },
        methods: {
            onSubmit() {
                console.log(this.album);
                this.clearForm();
            },
            clearForm() {
                this.album.title = '';
            }
        }
    }
</script>

<style scoped>

</style>