<template>
    <el-container>
            <el-header>
                <header-component/>
            </el-header>

            <el-main>
                <div v-if="loading"><img src="https://zippy.gfycat.com/SkinnySeveralAsianlion.gif" width="300" height="300"></div>
                <router-view v-else/>
            </el-main>

            <el-footer class="footer">
                <footer-component/>
            </el-footer>
    </el-container>
</template>

<script>
    import HeaderComponent from './HeaderComponent.vue';
    import FooterComponent from './FooterComponent.vue';
    import ElContainer from "element-ui/packages/container/src/main";

    export default {
        data() {
            return {
                loading: true
            }
        },
        components: {
            ElContainer,
            HeaderComponent,
            FooterComponent,
        },
        created: function () {
            this.$store.dispatch('loadAlbums').then(function() {
                this.loading = false;
            });
        }
    }
</script>
