<template>
    <div>
        <el-row>
            <el-col :span="24">
                Copyright this.site.com 2018
            </el-col>
        </el-row>
    </div>
</template>

<script>
    export default {
        methods: {

        }
    }
</script>

<style scoped>

</style>
