<template>
    <el-menu :default-active="'1'" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">Processing Center</el-menu-item>
        <el-menu-item index="2" disabled>Info</el-menu-item>
        <el-menu-item index="3">Order</el-menu-item>
    </el-menu>
</template>

<script>
    export default {
        methods: {
            handleSelect: function(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    }
</script>

<style scoped>

</style>
