<template>
    <div>
        <el-row>
            <el-col :span="24">
                <add-album-component/>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    export default {
        methods: {

        },
        components: {
            'add-album-component': require('./AddAlbumComponent'),
        }
    }
</script>

<style scoped>

</style>
