@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.footer {
  text-align: center;
  line-height: 60px;
  border: solid 2px #DCDFE6;
  background-color: #DCDFE6;
  border-radius: 4px;
  color: black;
}

