
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.footer {
  text-align: center;
  line-height: 60px;
  border: solid 2px $baseBorder;
  background-color: $baseBorder;
  border-radius: 4px;
  color: black;
}
